/* Import Font  */
@font-face {
    font-family: 'Scientific Calculator LCD';
    src: url('http://fonts.cdnfonts.com/css/scientific-calculator-lcd');
}
/* Import Font */

/* Typing animation on the title */
h1 {
    overflow: hidden;
    border-right: .15em solid yellowgreen;
    white-space: nowrap;
    width: 0;
    animation: typing 4s forwards;
}

.headerContainer {
    display: inline-block;
}

@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}
/* Typing animation on the title */

body {
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* button animations */
button {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #04AA6D;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
button:hover {
    border: 4px solid rgb(73, 251, 53);
    margin: 0px;
}

button.operation:hover {
    border: 4px solid #FF3131;
    margin: 0px;
}

button.function:hover {
    border: 4px solid #FF5F1F;
    margin: 0px;
}

button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

button.operation:active {
    background-color: #be3737;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


button.function:active {
    background-color: #c4572c;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}


/* button animations */

h1 {
    text-align: center;
    font-weight: bold;
    font-family: 'Scientific Calculator LCD', Times, serif;
    color: rgb(73, 251, 53);
    font-style: italic;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculatorContainer {
    background-color: slategray;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 28px;
    border: solid #FF5F1F;
    border-radius: 15px;

    box-shadow: 10px 5px 5px rgb(101, 150, 95);
    padding: 24px;
}

.display {
    color: rgb(73, 251, 53);
    font-family: 'Scientific Calculator LCD', Times, serif;
    background-color: black;
    font-weight: bold;
    flex-direction: column;

    display: flex;
    flex-grow: 0;
    gap: 24px;
    
    padding: 50px 75px;
    width: 300px;
    height: 200px;
    font-size: 24px;
    margin: 32px;

    border: solid rgb(73, 251, 53);
    border-radius: 15px;

}

.topDisplay {  
    display: flex; 
    overflow: auto;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;

    padding: 24px;
}


.mainDisplay {
    display: flex;
    overflow: auto;
    flex-wrap: wrap;

    justify-content: flex-end;
    align-content: flex-end;

    padding: 24px;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 150px);
    gap: 12px;
}

button {
    background-color: rgb(32, 30, 30);
    color: rgb(73, 251, 53);
    border-radius: 15px;
    font-family: 'Scientific Calculator LCD', Times, serif;
    font-weight: 900;
    font-style: italic;
    margin: 3px;
}

.operation {
    color: #FF3131;
}

.function {
    color: #FF5F1F;
}

#link {
    color: rgb(73, 251, 53);
    margin-top: 12px;
    font-weight: bold;
}